/* GENERAL */
body, html {
	margin: 0px;
	padding: 0px;
	background-color: #121314;
	width:100%;
	height:100%;
}

* {
	color: #C2C3C4;
	font-family: 'Titillium Web';
	font-weight: 200;
}

.clearfix {
	clear:both;
}

#scene_room {
	padding:20px;
}

/* NOW PLAYING */
#nowplaying {
	display:block;
	background-color: #1c1d1e;
}
#np_albumart {
	display:block;
	width: 128px;
	height: 128px;
	background-size: 128px 128px;
	float:left;
	margin-right:10px;
}
#np_album {
	font-size: 32px;
}
#np_artist, #np_name, #np_duration, .dash {
	font-size: 18px;
	float: left;
}
.dash, #np_duration {
	margin-left: 5px;
	margin-right: 5px;
}

/* SEARCH */
#searchbox {
	background-color: #232425;
	border-radius:5px;
	padding:3px;
	padding-left:10px;
	float:right;
}
#searchstring {
	border: 0px none;
	padding: 2px;
	background-color: #232425;
	outline: none;
}
#searchstring:active, #searchstring:hover {
	border: 0px none;
}

/* SEARCH RESULT / TRACK QUEUE */
.searchresult {
	background-color: #18191A;
}
.track {
	border-bottom: 1px solid #222324;
	padding-top:3px;
	padding-bottom:3px;
	clear:both;
}
.vote {
	font-size: 32px;
	color: #555657;
	float: right;
	margin-left:5px;
}
.tr_votes {
	width:32px;
	height:32px;
	float:left;
	margin-right: 5px;
	border-radius: 3px;
	border: 1px solid #343536;
	text-align: center;
	font-size:28px;
	padding:0px;
	line-height:32px;
	color: #555657;
}
.tr_albumart {
	width:32px;
	height:32px;
	float:left;
	margin-right: 5px;
	border-radius: 3px;
}
.tr_artist, .tr_name {
	float:left;
}

/* Login page */
#scene_auth {
	width: 100%;
	height: 100%;
}
#scene_login {
	width: 100%;
	height: 100%;
}
.subwrapper {
	position:relative;
	top: 30%;
	width:300px;
	margin:auto;
	text-align: center;
}
.logo {
	font-size: 80px;
}
.logo i {
	font-size: 75px;
	color: #EEFF55;
}
.subwrapper .row {
	text-align: center;
	width:270px;
	background-color: #232425;
	border-radius:5px;
	padding:3px;
	padding-left:10px;
	margin-right:10px;
	margin-top:20px;
	float:right;
}
.subwrapper .failed {
	background-color: #772425;
}
.subwrapper .row i {
	padding-right: 7px;
}
.subwrapper .row input {
	background-color: #232425;
	outline:none;
	border: 0px none;
	width:240px;
	font-size: 20px;
}

.subwrapper .failed input {
	background-color: #772425;
}

.left_col {
	width:60%;
	float:left;
}
.right_col {
	width:calc( 40% - 41px );
	margin-left:20px;
	padding-left:20px;
	border-left: 1px solid #232425;
	float:left;
}
.participant {
	width:48px;
	height:48px;
	display:block;
	float:left;
	background: #637425;
	border-radius: 3px;
	font-size: 32px;
	text-align: center;
}
.participant .fa-user {
	color: #121314;	
}
/* CHAT */
#chat {
	width:calc(100% - 10px);
	background-color: #232425;
	border-radius:5px;
	float:right;
	padding:4px;
	padding-left:10px;
	margin-bottom:7px;

}
#message {
	border: 0px none;
	padding: 2px;
	background-color: #232425;
	outline: none;
	width: calc(100% - 27px);
}
.msg_wrapper {
	border-bottom: 1px solid #222324;
	padding-top:3px;
	padding-bottom:3px;
	clear:both;
}
.msg_participant {
	width:32px;
	height:32px;
	float:left;
	margin-right: 5px;
	border-radius: 3px;
	font-size: 24px;
	line-height:32px;
	text-align: center;
	background: #637425;
}
.msg_participant .fa-user {
	color: #121314;	
}
.msg_content {
	float:left;
	width: calc(100% - 40px);
	font-size:13px;
}